# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Ufuk Karaca
email:
description: >- # this means to ignore newlines until "baseurl:"
  Personal portfolio website for Ufuk Karaca.
url: https://www.karacaufuk.com # the base hostname & protocol for your site, e.g. http://example.com
X_username: theufukkaraca
github_username: ufukkaraca
author: Ufuk Karaca
permalink: pretty
timezone: Europe/Berlin

exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

collections:
  thoughts:
    output: true
    permalink: /thoughts/:title/
  tinkers:
    output: true
    permalink: /tinkering/:title/

# Social image (SVG or PNG)
social_image: /assets/img/social-card.svg

# Optional: dynamic OG image generation endpoint for per-thought cards.
# Provide a deployed endpoint (e.g. Vercel function) that accepts query params: title, date, author
# Example (uncomment & replace):
# og_dynamic_provider: https://og-yourdeployment.vercel.app/api/thought

# Build-time OG image generation options (used by _plugins/og_image_generator.rb)
og_image:
  # font: /System/Library/Fonts/Supplemental/Arial\ Bold.ttf # optional absolute path
  title_pointsize: 72
  meta_pointsize: 36
  background: "#111111"
  title_color: "#FFFFFF"
  meta_color: "#BBBBBB"

defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "default"
# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
