/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #151516;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a1a1a6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: antiquewhite;
}

.blinking {
    animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
    0% {
        color: black;
    }
    49% {
        color: black;
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: black;
    }
}

html {
    scroll-behavior: smooth;
}

.category {
    color: #a1a1a6;
}

.categoryseparator {
    color: #a1a1a6;
}

.category:hover {
    text-decoration: underline;
}

.activecategory {
    color: #FFFFFF;
}

.zilla {
    font-family: 'Zilla Slab', serif;
}

p, a, span {
    font-size: 0.8em;
    font-family: 'Zilla Slab', serif
}

.textmedium {
    font-size: 3.0vmax;
}